// Variables

// Colors
$black: #1c1c1c;
$white: #fcfcfc;
$blue: #3d607e;
$light-blue: #c1e1dc;
$yellow: #fdeeab;
$green: #91e3a8;
$red: #c15c49;
$orange: #3d607e;
$light-red: #ffccac;
$emerald: #3b794d;


$brand-primary: $black;
$brilliant-1: $light-blue;
$brilliant-2: $blue;
$brilliant-3: $yellow;
$brilliant-4: $orange;
$brilliant-5: $light-red;
$brilliant-6: $red;
$brilliant-7: $green;
$brilliant-8: $emerald;

$insta: #91e3a8;
$facebook: #3b5998;
$twitter: #1da1f2;
$snapchat: #fff600;
$youtube: #cd201f;


$fa-font-path: '~font-awesome/fonts';
